body {
  padding-top: 70px;
}

.spinner-container {
    padding: 20px 0;
    position: fixed;
    left: 50%;
    top: 50%;
}

.logo{
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand>img {
  display: inline-block;
}

.brand-text{
  font-size: 26px;
  vertical-align: middle;
}

.user-circle{
  margin-top: 9px;
}

.user-circle > button{
  padding: 0px;
  border: none;
}

.user-circle .dropdown-menu{
  left: -65px;
  top: 40px;
}

.tweets-list{
  padding: 0px;
  list-style: none;
}

.tweets-list-item{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
}

.tweet{
  padding: 10px;
}

.tweet:hover{
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.tweet img{
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.dropdown-menu:after, .dropdown-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.dropdown-menu:before {
  border-color: rgba(255, 0, 0, 0);
  border-bottom-color: rgba(0,0,0,.15);
  box-shadow: 0 6px 12px -12px rgba(0,0,0,.175);
  border-width: 11px;
  margin-left: -11px;
}

.manage-link{
  float: right;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

.friends-list ul {
  width: 100%;
  height: calc(100vh - 450px);
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-bottom: 0px;
}

.friends-list li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.friend{
  width: 250px;
  padding: 10px;
  border: 1px solid rgba(150,150,150,0.3);
  background: rgb(242,242,242);
  border-radius: 2px;
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-property: transform, border, box-shadow, margin, opacity, width;
  -webkit-transition-property: -webkit-transform, border, box-shadow, margin, opacity, width;
}

.friend:hover, .car-list-item:hover
{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.2);
}

.friend h5{
  margin-top: 2px;
}

.friend img{
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.friend-handler{
  font-size: 12px;
  color: #888;
}

.list-carousel ul{
  margin-bottom: 0px;
} 
.list-carousel.panel-body{
  padding: 0px 10px;
  padding-bottom: 10px;
}

.list-carousel ul{
  list-style: none;
  display: flex;
  overflow-x: auto;
  overflow-y:hidden;
  width: 100%;
  padding: 0px;
}

.list-carousel li{
  display: inline-block;
}

.car-list-item{
  min-width: 250px;
  max-width: 280px;
  height: 140px;
  margin: 20px 10px;
  padding: 10px;
  border: 1px solid rgba(150,150,150,0.3);
  background: #f2f2f2;
  border-radius: 2px;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-property: transform, border, box-shadow, margin, opacity, width;
  -webkit-transition-property: -webkit-transform, border, box-shadow, margin, opacity, width;
  position: relative;
}

.car-list-item h4{
  margin: 4px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  display: inline-block;
}

.car-list-item p{
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}

.car-list-item .glyphicon{
  margin-top: 6px;
  font-size: 10px;
  color: #888;
}

.car-list-item p span{
  margin-top: 12px;
  color: #999;
}

.car-list-item-line{
  font-size: 12px;
  color: #888;
  margin-top: -3px;
}

.members img{
  width: 24px;
  height: 24px;
  margin-right: 1px;
  border-width: 0px;
}

.members div{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0px 3px;
  line-height: 24px;
  font-size: 14px;
  min-width: 24px;
  height: 24px;
  margin-right: 1px;
  background: #bbb;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

.overlay div{
  color: #f94040;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
}

.chromeless, .chromeless:focus{
  border: 0;
  background: rgba(0,0,0,0);
  outline: 0;
}

.dropdown-menu>li>button{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.dropdown-menu>li>button:focus, .dropdown-menu>li>button:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.manage-page-tip {
  text-align: center;
  color: #666;
}

/* Tweet placeholder start */

.tweet.placeholder{
  height: 96px;
  margin-bottom: -1px;
}

.tweet.placeholder:hover{
  color:initial;
  text-decoration: initial;
  background-color: initial;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -550px 0
    }
    100%{
        background-position: 550px 0
    }
}

.tweet .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1100px 104px;
    height: 75px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

.tweet .background-masker.header-top {
    top: 0;
    left: 48px;
    right: 0;
    height: 7px;
}

.tweet .background-masker.header-left {
    top: 7px;
    left: 48px;
    right: 0;
    height: 12px;
    width: 10px;
}

.tweet .background-masker.header-right {
    top: 7px;
    left: 200px;
    right: 0;
    height: 12px;
}

.tweet .background-masker.header-bottom {
    top: 19px;
    left: 48px;
    right: 0;
    height: 15px;
}

.tweet .background-masker.content-first-left {
    top: 34px;
    left: 48px;
    right: 0;
    height: 8px;
    width: 10px;
}

.tweet .background-masker.content-first-right {
    top: 34px;
    left: 500px;
    right: 0;
    height: 8px;
}

.tweet .background-masker.content-first-bottom {
    top: 42px;
    left: 48px;
    right: 0;
    height: 6px;
}

.tweet .background-masker.content-second-top {
    top: 48px;
    left: 0;
    right: 0;
    height: 4px;
}

.tweet .background-masker.content-second-left {
    top: 52px;
    left: 0px;
    right: 0;
    height: 8px;
    width: 58px;
}

.tweet .background-masker.content-second-right {
    top: 52px;
    left: 400px;
    right: 0;
    height: 8px;
}

.tweet .background-masker.content-second-bottom {
    top: 60px;
    left: 0;
    right: 0;
    height: 15px;
}


/* Tweet placeholder end */

/* List placeholder start */

.listslist.placeholder{
  height: 120px;
  padding: 10px 15px;
  padding-right: 30px;
}

@keyframes placeHolderShimmer2{
    0%{
        background-position: -200px 0
    }
    100%{
        background-position: 200px 0
    }
}

.listslist .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer2;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 400px 104px;
    height: 120px;
    position: relative;
}

.listslist .background-masker.line-first-top{
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
}

.listslist .background-masker.line-first-right{
  top: 5px;
  left: 50px;
  right: 0;
  height: 10px;
}

.listslist .background-masker.line-second-top{
  top: 15px;
  left: 0;
  right: 0;
  height: 25px;
}

.listslist .background-masker.line-second-right{
  top: 40px;
  left: 120px;
  right: 0;
  height: 10px;
}

.listslist .background-masker.line-third-top{
  top: 50px;
  left: 0;
  right: 0;
  height: 25px;
}

.listslist .background-masker.line-fourth-top{
  top: 85px;
  left: 0;
  right: 0;
  height: 25px;
}

.listslist .background-masker.line-fourth-right{
  top: 110px;
  left: 90px;
  right: 0;
  height: 10px;
}

/* List placeholder end */